.navbar-fixed-left {
  width: 25%;
  position: fixed;
  border-radius: 0;
  height: 100%;
}


.navbar-fixed-left + .container {
  padding-left: 10%;
}

.img-circle{
  border-radius: 50%;
}
.headline{
  font-size: 250%;
  color: yellow;
  font-family: "Courier";

}
.leftFont, p {
  font-size: 200%;
  color : yellow;
}

#myPicture {
  border: 5px dashed yellow;
  margin-top: 5%;
  margin-left: 2%;

}

#aboutMe ,#Skill{
  margin-top: 5%;
  margin-left: 2%;
}

.list-group {
  background-color: yellow;
}

body {
  background-color: black;
}
