.navbar-fixed-left {
  width: 25%;
  position: fixed;
  border-radius: 0;
  height: 100%;
}


.navbar-fixed-left + .container {
  padding-left: 10%;
}

.img-circle{
  border-radius: 50%;
}
.headline{
  font-size: 250%;
  color: yellow;
  font-family: "Courier";

}

.headlineProject{
  font-size: 250%;
  color: black;
  font-family: "Courier";

}
.leftFont, .pNormal {
  font-size: 200%;
  color : yellow;
}

.pProject {
  font-size: 200%;
  color : black;
}
#myPicture {
  border: 5px dashed yellow;
  margin-top: 5%;
  margin-left: 2%;

}

#aboutMe,#Skill,#project{
  margin-top: 5%;
  margin-left: 2%;
}

#project-enigma ,#project-recursion,#project-store{
  background-color: yellow;
  margin-top: 4%;
  margin-left: 6%;
  margin-bottom: 5%;
}


body {
  background-color: black;
}
